
div#demo2 {
    margin: auto;
}
.osod {
    border: none;
    max-width: 100%;
    height: auto;
    display: inline-block;
    vertical-align: top;
    box-shadow: 1px 1px 10px #d8d8d8;
    border-radius: 27px;
}
img[src$=".svg"] {width: 100%;height: auto;display: inline-block;vertical-align: top;}

.code-content {
    padding: 20px;
    background-color: #ffffff !important;
    height: 200px;
}